.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--neutrals-white-100);
}
.andrewTang1234567 {
  position: absolute;
  width: 7.74%;
  top: 35.82%;
  left: 88.58%;
  display: inline-block;
  color: var(--functional-green-900);
  opacity: 0.7;
}
.andrewTang12345671 {
  position: absolute;
  width: 10.79%;
  top: 20.9%;
  left: 52.46%;
  font-weight: 600;
  display: inline-block;
}
.andrewTang12345672,
.andrewTang12345673,
.andrewTang12345674 {
  position: absolute;
  top: 35.82%;
  left: 58.64%;
  font-weight: 600;
}
.andrewTang12345673,
.andrewTang12345674 {
  left: 2.19%;
}
.andrewTang12345674 {
  top: 19.4%;
  left: 14.7%;
}
.salaryAug2021 {
  position: absolute;
  top: 39px;
  left: 188px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.andrewTang12345675 {
  position: absolute;
  top: 20.9%;
  left: 68.49%;
  font-weight: 600;
}
.div {
  position: absolute;
  top: 42px;
  left: 876px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-400);
}
.andrewTang12345676 {
  position: absolute;
  width: 7.74%;
  top: 35.82%;
  left: 44.33%;
  display: inline-block;
  text-align: right;
}
.iconutilitychevRightthick {
  position: absolute;
  height: 8.96%;
  width: 0.97%;
  top: 43.28%;
  right: 1.92%;
  bottom: 47.76%;
  left: 97.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: absolute;
  height: 3.9%;
  width: 88.82%;
  top: 29.42%;
  right: 5.69%;
  bottom: 66.69%;
  left: 5.49%;
  text-align: left;
  font-size: var(--px-semibold-sentence-size);
  color: var(--color-darkslategray-200);
  font-family: var(--px-semibold);
}
